{% load staticfiles %}

<html>
   <head>
   	<link rel="stylesheet" href="{% static 'workers/base.css' %}">
  	<title>{{ wk.first_name }} {{ wk.last_name }}</title>
</head>
<body background='{{ wk.url_background }}'>
  
  <header><a href="/admin/">Admin Site</a></header>
      
  <article>
    <div>		 
    <ul>
      <li>Nombre: {{ wk.first_name }} {{ wk.last_name }}</li>
      <li>Edad: {{wk.age}}</li>
      <li>Sexo: {{wk.sex}}</li>
      <li>Correo Electronico: {{wk.email}}</li>
      <li>Sueldo Cancelado: {{wk.paid}}</li>
      <li> <form action="/{{wk.id}}">
    	{{ wk.get_paid }}
    	<input type="submit" value="Pagar">
      </li>
	</form>
         
          
    </ul>

    </div>

  </article>  
</body>
</html>