div {
  
  background-color: #ffffff;
  border-radius:10px;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  opacity: 0.6;
  
}
h1 {
  line-height: 80px;
  text-align:center;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-style: inherit;
  color: #000000;
  
}


li {
  text-align: center;
  list-style-type: none;
  
}

ul {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  color: #000000;
  font-size:20px;
  text-align:center;
  line-height: 35px; 
  font-style: inherit;
}

a {

  text-decoration: none;
  color: white;
}
header{
  text-align: right;

}